*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background: #638ac5;
    }
    .container {
      max-width: 500px;
      margin: auto;
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    h1 {
      text-align: center;
    }
    #expense-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 4px;
      margin-bottom: 20px;
      flex-wrap: wrap;
    }
    input, select, button {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    #category{
        background-color: rgb(206, 203, 203);
    }
    button {
      background: #007bff;
      color: white;
      cursor: pointer;
    }
    button:hover {
      background: #13457b;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      padding: 10px;
      border-bottom: 1px solid #ddd;
      text-align: left;
    }
    .total {
      text-align: right;
      font-weight: bold;
      margin-top: 10px;
      color: #007bff;
    }