/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #c0dcea;
  color:black;
  transition: 0.3s;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #2ecc71;
  color: white;
}

nav .nav-btn {
  padding: 8px 12px;
  margin: 6px;
  background: rgb(210, 205, 205);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.nav-btn.active {
  background: #00cec9;
}

.nav-btn:hover {
  background: #81ecec;
}

/* Background Image*/
#hero {
  width: 100%;
  height: 400px;
  background: url("bg_image.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  text-shadow: 0 3px 10px rgba(0,0,0,0.6);
  margin-bottom: 30px;
}

#hero h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

#hero p {
  font-size: 18px;
  opacity: 0.9;
}

/* OVERVIEW CARDS */
#overview {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  height: 150px;
  margin:10px;
  color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 14px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.card h3 {
  font-size: 20px;
  margin:18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.card i {
  font-size: 27px;
}

.balance {
  background: #0abcc3;
  color: white;
}

.balance h3 i {
  color: white;
}

/* FILTER */
#filters{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:15px;
  margin-bottom: 10px;
}
#filters input {
  padding: 8px;
  width: 600px;
  border-radius: 5px;
  background: rgb(245, 243, 243);
}

#filters button {
  padding: 8px 10px;
  margin: 8px;
  border: none;
  border-radius: 5px;
  background: rgb(210, 205, 205);
}

#filters button:hover{
  background: #81ecec;
}

/* TRANSACTION LIST */
#list li {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  margin-bottom: 8px;
  background: #f1ebf3;
  border-radius: 5px;
}

.income { border-left: 6px solid green; }
.expense { border-left: 6px solid red; }

/* MODALS */
.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #0abcc3;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
}

.modal-content form input,
.modal-content form select {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.close {
  background: red;
  color: white;
  padding: 8px;
  border: 2px solid gray;
  border-radius: 8px;
}


/* CHART CARDS LAYOUT */
.chart-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 20px;
}

/* INDIVIDUAL CHART CARD */
.chart-card {
  background: #f9f8f7;;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
  max-height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chart-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

/* CHART TITLE */
.chart-card h3 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
}
.chart-card p {
  text-align: center;
  color: gray;
  font-size: 12px;
}

/* CANVAS */
.chart-card canvas {
  width: 100% !important;
  height: 100% !important;
  max-height: 300px;
}

/* Footer */
.footer {
  color: #111010;
  text-align: center;
  padding: 40px 20px;
  margin-top: 50px;
}

.footer h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.footer-links {
  margin: 15px 0;
}

.footer-links a {
  color: black;
  margin: 0 10px;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #5841de;
}

.footer-social a {
  color: #0b1cb3;
  margin: 0 8px;
  font-size: 20px;
  transition: 0.3s;
}

.footer-social a:hover {
  color: #4b98e6;
}

.tagline {
  margin-top: 15px;
  font-size: 14px;
  opacity: 0.8;
}


/* =================== TABLET SCREEN (≤ 900px) =================== */
@media (max-width: 992px) {
  .chart-cards {
    grid-template-columns: 1fr;
  }

  header {
    flex-direction: column;
    text-align: center;
  }

  #hero {
    height: 300px;
  }

  .card {
    flex: 1 1 100%;
    max-width: 95%;
  }
}


/* =================== MOBILE SCREEN (≤ 600px) =================== */
@media (max-width: 600px) {

  header {
    flex-direction: column;
    text-align: center;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #hero h2 {
    font-size: 24px;
  }

  #hero p {
    font-size: 14px;
  }

  #overview {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    min-width: unset;
    height: auto;
  }

  #filters input {
    width: 90%;
  }

  #list li {
    flex-direction: column;
    gap: 6px;
  }

  .chart-cards {
    grid-template-columns: 1fr;
  }

  .chart-card {
    max-height: 350px;
  }
}
